<div class="container flex justify-content-center align-items-center">
  <div class="message-container border-round-lg p-2 lg:p-4 xl:p-4 bg-blue-50">
    <h1 class="w-full text-center mt-0">Congratulations</h1>
    <p class="text-center">
      Your subscription order has been successfully registered.
    </p>
    <div class="w-full mt-4 flex justify-content-center flex-1">
      <button
        pButton
        pRipple
        label="Send another subscription"
        (click)="sendAnotherSubscription()"
      ></button>
    </div>
  </div>
</div>
